{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block body %}

<div>
    <div>
        <h4>Prochain cours: </h4>
    </div>

    {% for card in cards %}

    <div class="card border-card">
        <h5>Cours régulier de </h5>
        <h6>Prochains cours:</h6>
        <ul>
            <li><img><p></p></li>
            <li><img><p></p><p>À partir du</p></li>
            <li><img><p></p><p></p>À partir de</li>
            <li><img><p></p></li>
        </ul>
        <div>
        <button>Détails</button>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}